<div class="container" style="height:550px">
  <div class="row">
    <div class="col-12">
      <h3>Watchlists</h3>
      <p >Welcome,<%= @user.email %>, <%= link_to "Create your new watchlist", new_watchlist_path %> here !</p>
    </div>
  </div>
  <br>

 <table class="table table-hover table-striped table-bordered">
    <thead class="table-dark custom-data-center">
      <tr>
        <th> Watchlist </th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @watchlists.each do |watchlist| %>
        <tr> 
        <td class="custom-data-center"> 
          <a href="<%= cryptocurrencies_watchlist_index_path(watchlist) %>" class="btn">
            <strong><%= watchlist.name %></strong>
          </a>
        </td>

      <td class="custom-data-center"> 
        <div class="button-group ">
          <%= button_to "Edit", edit_watchlist_path(watchlist), method: :get %>
          <%= button_to "Delete", watchlist_path(watchlist), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </td>

      
      <% end %>

    </tbody>      

  </table>

</div>

