<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Watchlists</h4>
      <p >Welcome,<%= @user.email %>!</p>
    </div>
  </div>

 <table class="table table-hover table-striped table-bordered">
    <thead class="table-dark custom-data-center">
      <tr>
        <th> Watchlist </th>
        <th> Actions </th>
      </tr>
    </thead>

    <tbody>
      <% @watchlists.each do |watchlist| %>
        <tr> 
        <td class="custom-data-center"> 
          <a href="<%= cryptocurrencies_watchlist_index_path(watchlist) %>" class="btn">
            <strong><%= watchlist.name %></strong>
          </a>
        </td>

        <td class="custom-data-center"> 
           <%= link_to "Edit", edit_watchlist_path(watchlist), class: "btn btn-secondary mb-3" %>
          <%= button_to "Delete", watchlist_path(watchlist), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary mb-3" %>
        </td>

      
      <% end %>

    </tbody>      

  </table>
  
  <div class="row">
    <div class="col-12">
      <h4>Create a new watchlist</h4>
      <%= link_to "Create a watchlist", new_watchlist_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
