<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="fw-normal mb-4">Edit <%= resource_name.to_s.humanize %></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", 
          placeholder:"Email" ,class: "form-control placeholder-gray", disabled: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-3">
          <%= f.password_field :current_password, autocomplete: "current-password",
          placeholder:"Old Password",class: "form-control placeholder-gray" %>
        </div>

        <div class="mb-3">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control placeholder-gray", 
          placeholder: "New Password " %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"> 
              <i class="bi bi-exclamation-circle-fill me-1"></i>
              <%= @minimum_password_length %> characters minimum
            </small>
         <% end %>
        </div>

        <div class="mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          placeholder:"Enter the new password again", class: "form-control placeholder-gray" %>
        </div>

         <div class="actions justify-content-center">
          <%= f.submit "Update", class: "btn btn-primary me-2" %>
          <%= link_to "Back", :back, class: "btn btn-secondary" %>
        </div>
      <% end %>


      

<br />
      <div class="mb-3 d-flex justify-content-center">
        <p class="me-3" style="color: #555555; font-size:18px; ">Feel Unhappy?</p>
        <%= button_to "Cancel my account", 
        registration_path(resource_name), 
        data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, 
        method: :delete, class: "btn btn-dark btn-sm" %>
      </div>
    </div>
  </div>
</div>