<%# app/views/cryptocurrencies_watchlist/index.html.erb %>
<%# This is the default Watchlist for user  %>

<h3><%=@watchlist.name%></h3>

<table class="table table-hover table-striped table-bordered">

<thead class="table-dark custom-data-center">
    <tr>
      <th> Rank </th>
      <th> Logo </th>
      <th> Coin </th>
      <th> Price </th>
      <th> 1d </th>
      <th> 24h Volumn </th>
      <th> Market Cap </th>
      <th> Watchlist </th>
    </tr>
</thead>

  <tbody>
 <% @watchlist.cryptocurrencies.each do |cw| %>
      <% cryptocurrency = cw %>  
      <tr>
         <td class="custom-data-center"> <%= cryptocurrency.rank %> </td>
          <td class="custom-data-center"> 
            <%= image_tag cryptocurrency.icon_url,  class: "img-fluid img-coin custom-icon" %>
          </td>
          <td class="custom-data-center"> 
            <%= link_to cryptocurrency.symbol,cryptocurrency_path(cryptocurrency) %> 
          </td>
          <td class="custom-data-right"> $<%= number_with_precision(cryptocurrency.price, precision: 2) %> </td>
          <td class="<%= cryptocurrency.change.to_f.negative? ? 'text-danger' : 'text-success' %> custom-data-center">
            <%= cryptocurrency.change %>%
          </td>
          <td class="custom-data-right"> $<%= number_with_delimiter(cryptocurrency.volume_24h) %> </td>
          <td class="custom-data-right"> $<%= number_with_delimiter(cryptocurrency.market_cap) %> </td>
           <td class="custom-data-center"> 
           
            <%= button_to 'Delete', remove_from_watchlist_path(id: cryptocurrency.id), method: :delete %>
           
           </td>

      </tr>
    <% end %>
  </tbody>
</table>


<%# show the user's all the watchlist %>

<div>
<%= link_to 'View All Watchlists', watchlists_path, class: 'btn btn-primary' %>
</div>




