<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <%= link_to root_path do %>
        <img src="<%= asset_path('doge.png') %>" alt="logo" class="img-logo">
      <% end %>
      <%= link_to 'CoinRocket', root_path, class: "navbar-brand"%>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <%# catagories %>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

      <%# Coin List Page %>
      <li class="nav-item ms-lg-2 ">
        <%= link_to "Coins",cryptocurrencies_path,
        class:"nav-link #{'active' if controller_name == 'cryptocurrencies' && action_name == 'index'}"
        %>

      <%# About APIs %>
      <li class="nav-item ms-lg-2 ">
           <%= link_to "About APIs",
          home_about_path,class:"nav-link #{'active' if controller_name == 'home' && action_name == 'about'}"
          %>
      </li>
  
      <%# Search %>
      <form class="d-flex ms-lg-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <% if user_signed_in? %>

      <%# Profile %>
      <li class="nav-item ms-lg-2 ">
        <%= link_to "Profile",edit_user_registration_path,
        class:"nav-link #{'active' if controller_name == 'registrations' && action_name == 'edit'}"
        %>
      </li>

      <%# Log Out %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link #{'active' if controller_name == 'sessions' && action_name == 'destroy'}" %>


      <% else %>
      <%# Sign Up %>
      <li class="nav-item ms-lg-2 ">
        <%= link_to "Sign Up",new_user_registration_path, 
        class:"nav-link #{'active' if controller_name == 'registrations' && action_name == 'new'}"
        %>

      <%# Log In %>
      <li class="nav-item ms-lg-2 ">
        <%= link_to "Log In",new_user_session_path,
        class:"nav-link #{'active' if controller_name == 'sessions' && action_name == 'new'}"
        %>
      </li>

      <% end %>


  
    </ul>
  
  </div>
</div>
</nav>
<br>
