<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <%= link_to cryptocurrencies_path do %>
        <img src="<%= asset_path('doge.png') %>" alt="logo" class="img-logo">
      <% end %>
      <%= link_to 'CoinRocket', cryptocurrencies_path, class: "navbar-brand"%>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%# Home Page %>
        <li class="nav-item ms-lg-2 ">
          <%= link_to "Home", root_path, class: "nav-link #{'active' if controller_name == 'home' && action_name == 'index'}" %>
        </li>

        <%# About APIs %>
        <li class="nav-item ms-lg-2 ">
          <%= link_to "About", home_about_path, class: "nav-link #{'active' if controller_name == 'home' && action_name == 'about'}" %>
        </li>

        <%# Token List Page %>
        <li class="nav-item ms-lg-2 ">
          <%= link_to "Coins", cryptocurrencies_path, class: "nav-link #{'active' if controller_name == 'cryptocurrencies' && action_name == 'index'}" %>
        </li>

        <%# Search %>
        <li class="nav-item ms-lg-3">
          <%= form_tag(cryptocurrencies_path, method: :get, class: "d-flex", role: "search") do %>
            <%= text_field_tag :keyword, params[:keyword], placeholder: 'Enter Token Name' %>
            <%= select_tag :category, options_for_select(['All', 'Top 100', 'Potential Tokens'], params[:category]) %>
            <button class="btn btn-outline-success" type="submit">Search</button>
          <% end %>
        </li>

        <% if user_signed_in? %>
          <%# Watchlists %>
          <li class="nav-item ms-lg-2 ">
            <%= link_to "Watchlists", watchlists_path, class: "nav-link #{'active' if controller_name == 'watchlists' && action_name == 'index'}" %>
          </li>

          <%# Profile %>
          <li class="nav-item ms-lg-2 ">
            <%= link_to "Profile", edit_user_registration_path, class: "nav-link #{'active' if controller_name == 'registrations' && action_name == 'edit'}" %>
          </li>

          <%# Log Out %>
          <li class="nav-item ms-lg-2 ">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link #{'active' if controller_name == 'sessions' && action_name == 'destroy'}" %>
          </li>

        <% else %>
          <%# Sign Up %>
          <li class="nav-item ms-lg-2 ">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{'active' if controller_name == 'registrations' && action_name == 'new'}" %>
          </li>

          <%# Log In %>
          <li class="nav-item ms-lg-2 ">
            <%= link_to "Log In", new_user_session_path, class: "nav-link #{'active' if controller_name == 'sessions' && action_name == 'new'}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br>
