<div id="<%= dom_id cryptocurrency %>"
style="box-shadow: 0 0 5px <%= cryptocurrency.color %>, 0 0 10px rgba(0, 0, 0, 0.1);"
  class="card">

<%# header  %>
  <div class="card-header bg-secondary text-white d-flex align-items-center">
    <%= image_tag cryptocurrency.icon_url, class: "img-fluid img-coin" %>
    <div class="ms-3">
      <h3 class="card-title my-auto">
        <%= cryptocurrency.name %>
      </h3>
    </div>
  </div>


<%# body  %>
  <div class="card-body" >

    <p class="card-text">
      <strong>Rank:</strong> <%= cryptocurrency.rank %>
    </p>
    <p class="card-text">
      <strong>Price:</strong> $<%= number_with_precision(cryptocurrency.price, precision: 2) %>
    </p>
    <p class="card-text">
      <strong>Change:</strong>
      <span class="<%= cryptocurrency.change.to_f.negative? ? 'text-danger' : 'text-success' %>"><%= cryptocurrency.change %>%</span>
    </p>
    <p class="card-text">
      <strong>24h Volume:</strong> $<%= number_with_delimiter(cryptocurrency.volume_24h) %>
    </p>
    <p class="card-text">
      <strong>Market Cap:</strong> $<%= number_with_delimiter(cryptocurrency.market_cap) %>
    </p>
    <p class="card-text">
      <strong>Update:</strong> <%= cryptocurrency.updated_at %>
    </p>
  
    <%# sparkline %>
    <div class="chart-container" style="width: 800px; height: 200px;" id="sparkline-data">
      <strong>Last 20 days:</strong>
      <canvas id="sparkline-<%= dom_id @cryptocurrency %>"></canvas>
    </div>
  </div>

</div>

<br>
