<%# app/views/cryptocurrencies/index.html.erb %>



<%# ERD Conditional Part  %>
<% if user_signed_in? %>
  <div class="alert alert-success" role="alert">
    Welcome <%= current_user.email %>
  </div>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
<% end %>


<%= paginate @cryptocurrencies %>




<table class="table table-hover table-striped table-bordered">

   <thead class="table-dark custom-data-center">
        <tr>
          <th> Rank </th>
          <th> Logo </th>
          <th> Coin </th>
          <th> Price </th>
          <th> 1d </th>
          <th> 24h Volumn </th>
          <th> Market Cap </th>
          <th><%= link_to 'Watchlists', watchlists_path, class: 'watchlists-link' %></th>
        </tr>
    </thead>

  <tbody>
    <% @cryptocurrencies.each do |cryptocurrency| %>

      <tr>      

          <td class="custom-data-center"> <%= cryptocurrency.rank %> </td>
          <td class="custom-data-center"> 
            <%= image_tag cryptocurrency.icon_url,  class: "img-fluid img-coin custom-icon",alt:"icon" %>
          </td>
          <td class="custom-data-center"> 
            <%= link_to cryptocurrency.symbol,cryptocurrency_path(cryptocurrency) %> 
          </td>
          <td class="custom-data-right"> $<%= number_with_precision(cryptocurrency.price, precision: 2) %> </td>
          <td class="<%= cryptocurrency.change.to_f.negative? ? 'text-danger' : 'text-success' %> custom-data-center">
            <%= cryptocurrency.change %>%
          </td>
          <td class="custom-data-right"> $<%= number_with_delimiter(cryptocurrency.volume_24h) %> </td>
          <td class="custom-data-right"> $<%= number_with_delimiter(cryptocurrency.market_cap) %> </td>

          <%# CRUD  %>
         <td class="custom-data-center">
            <% if user_signed_in? %>
              <% if @watchlist&.cryptocurrencies&.include?(cryptocurrency) %>
                <%= form_with url: remove_from_watchlist_path(id: cryptocurrency.id), method: :delete do |form| %>
                  <%= form.submit 'Remove',class: 'btn btn-sm btn-danger' %>
                <% end %>
              <% else %>
                <%= form_with url: add_to_watchlist_path(id: cryptocurrency.id), method: :post do |form| %>
                  <%= form.submit 'Add', class: 'btn btn-sm btn-primary' %>
                  <%= form.select :watchlist_id, options_from_collection_for_select(current_user.watchlists, :id, :name), class: 'custom-select' %>
                <% end %>
              <% end %>
            <% else %>
              <%= button_to 'Add', add_to_watchlist_path(id: cryptocurrency.id), method: :post %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @cryptocurrencies %>



