<%# app/views/cryptocurrencies/index.html.erb %>
<%= paginate @cryptocurrencies %>

<table class="table table-hover table-striped table-bordered">

   <thead class="table-dark custom-data-center">
        <tr>
          <th> Rank </th>
          <th> Logo </th>
          <th> Coin </th>
          <th> Price </th>
          <th> 1d </th>
          <th> 24h Volumn </th>
          <th> Market Cap </th>
          <th> Watchlist </th>
        </tr>
    </thead>

  <tbody>
    <% @cryptocurrencies.each do |cryptocurrency| %>

      <tr>      

          <td class="custom-data-center"> <%= cryptocurrency.rank %> </td>
          <td class="custom-data-center"> 
            <%= image_tag cryptocurrency.icon_url,  class: "img-fluid img-coin custom-icon" %>
          </td>
          <td class="custom-data-center"> 
            <%= link_to cryptocurrency.symbol,cryptocurrency_path(cryptocurrency) %> 
          </td>
          <td class="custom-data-right"> $<%= number_with_precision(cryptocurrency.price, precision: 2) %> </td>
          <td class="<%= cryptocurrency.change.to_f.negative? ? 'text-danger' : 'text-success' %> custom-data-center">
            <%= cryptocurrency.change %>%
          </td>
          <td class="custom-data-right"> $<%= number_with_delimiter(cryptocurrency.volume_24h) %> </td>
          <td class="custom-data-right"> $<%= number_with_delimiter(cryptocurrency.market_cap) %> </td>

          <%# CRUD  %>
          <td class="custom-data-center">
          <%# Check if the user signed or not %>
          <% if user_signed_in? && @watchlist&.cryptocurrencies&.include?(cryptocurrency) %>
            <%= button_to 'Delete', remove_from_watchlist_path(id: cryptocurrency.id), method: :delete %>
            <% else %>
            <%= button_to 'Add', add_to_watchlist_path(id: cryptocurrency.id), method: :post %>           
             <% end %>
          </td>

      </tr>
    <% end %>

  </tbody>
</table>

<%= paginate @cryptocurrencies %>



